<h2 class="heading">Spotter Report Form</h2>

<div class="row">
  <div class="col-xs-6">
    <p class="right">Spotter ID:</p>
    <p class="right">Call Sign:</p>
    <p class="right">Current Location - Report Major Cross Streets:</p>
    <p class="right">Type of Weather Reporting:</p>
    <p class="right">Additional Information:</p>
  </div>

  <div class="col-xs-6">
    <p class="left"><input type="text" ng-model="spotterID" size="10"></p>
    <p class="left"><input type="text" ng-model="callsign" size="10"></p>
    <p class="left"><input type="text" ng-model="currentLocation" size="40"></p>
    <p class="left">
      <select ng-model="weatherEvent" ng-options="item as item.name for item in items" width="30">
        <option value="" ng-if="weatherEvent">Select weather event</option>
      </select>
    </p>
    <p class="left"><input type="text" ng-model="addInfo" size="40"></p>
    <button class="button left" ng-click="newSkywarnReport()">Submit</button>
  </div>
</div>
