body{
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

img{
  margin-top:-5px;
  height:30px;
  width: auto;
}

h2{
  text-align: center;
  margin-bottom: 20px;
}

p{
  text-align: center;
}

input{
  margin-right: 10px;
  border-width: thin;
  padding-left: 5px;
  border-bottom-color: black;
  border-right-color: black;
}

.button{
  margin: 10px 0px 0px 5px;
  border-radius: 5px;
  border-color: black;
  background: white;
  border-width: thin;
}

.center{
  display: block;
  margin: 0 auto;
}

.warning{
font-size: 20px;
font-weight: bold;
text-decoration: underline;
}

.date{
  font-size: 15px;
}

.description{
  font-size: 15px;
}

.navbar-inverse .navbar-brand {
    color: #FFF;
}

.expire{
  font-size: 15px;
}
